.contrib/.builds/
.contrib/Harvesters/RAW/
.contrib/Harvesters/*.json
.contrib/Parser/Parser.exe.config
.contrib/Parser/Parser.pdb
.contrib/Parser/Parser V2.exe.config
.contrib/Parser/Parser V2.pdb
.contrib/Debugging/
.contrib/Harvesters/System.Net.Http.Formatting.xml
.contrib/Harvesters/Blizzard API Harvester.pdb
.contrib/Harvesters/Blizzard API Harvester.exe.config
.contrib/Parser/DATAS/89 - Extra/
.contrib/Source Code/Parser/.vs/
.contrib/Source Code/ATT/bin
.contrib/Source Code/Parser/obj/
.contrib/Harvesters/API.key
.contrib/Parser/ATT.pdb
.contrib/Source Code/Blizzard API Harvester/bin/
.contrib/Source Code/Classic Item Detector/bin/
contrib/
AllTheThings.iml
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
icon.png
*.user
.vs/
obj/
**/desktop.ini
*.bak
.contrib/.source/ATT Sync Tool/bin/x86/Debug/log.txt
.contrib/Harvesters/DBs/
.contrib/Harvesters/*.log
.contrib/Harvesters/*.bat
__pycache__
.contrib/Parser/localizedObjects.txt
.contrib/.tools/log.txt
/.vscode/settings.json
.venv
.contrib/Parser/*.txt
.contrib/Source Code/Item DB Compare Tool/bin/
.contrib/Source Code/Blizzard API Harvester/packages/
