contrib/Harvesters/RAW/
contrib/Harvesters/RAW_eventDB.json
contrib/Harvesters/eventDB.json
contrib/Harvesters/itemDB.json
contrib/Harvesters/npcDB_sweetlie.json
contrib/Harvesters/quests_dump.json
contrib/Harvesters/RAW_itemDB.json
contrib/Harvesters/RAW_npcDB.json
contrib/Harvesters/RAW_zoneDB.json
contrib/Harvesters/zoneDB.json
contrib/Parser/log.txt
contrib/Parser/Parser.exe.config
contrib/Parser/Parser.pdb
contrib/Parser/Parser V2.exe.config
contrib/Parser/Parser V2.pdb
contrib/Debugging/
AllTheThings.iml
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
icon.png
contrib/Harvesters/System.Net.Http.Formatting.xml
contrib/Harvesters/Blizzard API Harvester.pdb
contrib/Harvesters/Blizzard API Harvester.exe.config
/contrib/Parser/DATAS/89 - Extra/
contrib/Source Code/Parser/obj/
*.user
contrib/Source Code/Parser/.vs/
.vs/
obj/
**/desktop.ini

# Backup files
*.bak
