repos:
-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black"]

-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    - id: black

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
    - id: pyupgrade
      args: ["--py311-plus"]

-   repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      additional_dependencies: [pep8-naming]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
    - id: mypy
      args: [--strict]
      additional_dependencies: [aiohttp, types-beautifulsoup4, types-requests]
