{
    "wago-directories": [
		"../.wago/01 - Classic",
		"../.wago/03 - Wrath of the Lich King/Localized",
	],
	"json-directories": [ ],
    "db-relative": "VanillaSOD/",
    "DataPhase": "SEASON_OF_DISCOVERY",
	"DataRequirements": "C_Seasons and C_Seasons.GetActiveSeason() == 2",
    "DataPatch": [ 1, 15, 9, 69722 ],
    "PreProcessorTags": [
        "ANYCLASSIC",
		"CLASSIC",
		"EXPLORATION",
		"OBJECTIVES",
		"NOSIMPLIFY",
		"INCLUDE_QUALITY",
		"SEASON_OF_MASTERY",
		"SEASON_OF_DISCOVERY",
		"EXPORT_ACHIEVEMENTDB",
    ],
}
