{
    "wago-directories": [
		"../.wago/01 - Classic",
		"../.wago/03 - Wrath of the Lich King/Localized",
	],
	"json-directories": [ ],
	"extra-database-files": [
		"../VanillaSOD/Database.xml",
	],
    "db-relative": "Vanilla/",
    "DataPhase": "CLASSIC",
	"DataRequirements": "not C_Seasons or C_Seasons.GetActiveSeason() ~= 2",
    "DataPatch": [ 1, 15, 9, 69722 ],
    "PreProcessorTags": [
        "ANYCLASSIC",
		"CLASSIC",
		"EXPLORATION",
		"OBJECTIVES",
		"NOSIMPLIFY",
		"INCLUDE_QUALITY",
		"CLASSICERA",
		"EXPORT_ACHIEVEMENTDB",
    ],
}
