{
    "wago-directories": [
		"../.wago/02 - The Burning Crusade",
		"../.wago/03 - Wrath of the Lich King/Localized",
	],
	"json-directories": [ ],
    "db-relative": "TBC/",
    "DataPhase": "TBC",
    "DataPatch": [ 2, 5, 6, 69795 ],
    "PreProcessorTags": [
        "ANYCLASSIC",
		"TBC",
		"EXPLORATION",
		"OBJECTIVES",
		"NOSIMPLIFY",
		"INCLUDE_QUALITY",
		"EXPORT_ACHIEVEMENTDB",
		"BLIZZ_ICONS_ARE_HARD",
		"CLASSIC_ANNIVERSARY",
    ],
}
