{
    "wago-directories": [
		"../.wago/03 - Wrath of the Lich King",
	],
	"json-directories": [ ],
    "db-relative": "Wrath/",
    "DataPhase": "WRATH",
    "DataPatch": [ 3, 4, 5, 63697 ],
    "PreProcessorTags": [
        "ANYCLASSIC",
		"WRATH",
		"CRIEVE",
		"EXPLORATION",
		"OBJECTIVES",
		"NOSIMPLIFY",
		"INCLUDE_QUALITY",
		"EXPORT_ACHIEVEMENTDB_SHENDRALAR",
		"NAXX_10MAN_DROPS_25MAN_LOOT",
    ],
}
