{
    "root-addon": "../..",
    "root-data": "../.classic/.db",
    "db-relative": "Legion/",
    "DataPhase": "LEGION",
    "DataPatch": [ 7, 4, 0, 55261 ],
    "PreProcessorTags": [
        "ANYCLASSIC",
		"LEGION",
		"CRIEVE",
		"IGNORE_ERRORS",
		"EXPLORATION",
		"OBJECTIVES",
		"NOSIMPLIFY",
		"INCLUDE_QUALITY",
    ],
    "AutoLocalizeTypes": [
    ],
    "HierarchicalNonRepeatFields": [
        "awp"
    ],
    "Validation": {
        "clean": true,
        "field": {
            "c": {
                "global.match": "ALL_CLASSES"
            },
            "races": {
                "global.match": "ALL_RACES"
            },
            "collectible": {
                "match": [
                    false
                ]
            },
            "r": {
                "bounds": [
                    1,
                    2
                ]
            },
            "u": {
                "global.match": "VALID_PHASES"
            },
            "modID": {
                "bounds": [
                    0,
                    99
                ]
            },
            "bonusID": {
                "bounds": [
                    0,
                    9999
                ]
            },
            "spellID": {
                "bounds": [
                    1,
                    999999
                ]
            },
            "recipeID": {
                "bounds": [
                    1,
                    999999
                ]
            },
            "itemIDZZZ": {
                "bounds": [
                    1,
                    999999
                ]
            },
        }
    },
    "ObjectTypes": [
        {
            "function": "CreateToy",
            "objectType": "toyID",
            "shortcut": "toy",
            "convertedKey": "itemID",
            "ignoredFields": [
                "f",
                "spellID",
                "modID"
            ]
        }
    ]
}