{
    "wago-directories": [
		"../.wago/07 - Legion",
	],
	"json-directories": [ ],
    "db-relative": "Legion/",
    "DataPhase": "LEGION",
    "DataPatch": [ 7, 4, 0, 55261 ],
    "PreProcessorTags": [
        "ANYCLASSIC",
		"LEGION",
		"CRIEVE",
		"IGNORE_ERRORS",
		"EXPLORATION",
		"OBJECTIVES",
		"NOSIMPLIFY",
		"INCLUDE_QUALITY",
		"NAXX_10MAN_DROPS_25MAN_LOOT",
    ],
}