{
    "wago-directories": [
		"../.wago/10 - Dragonflight",
	],
	"json-directories": [ ],
    "db-relative": "Dragonflight/",
    "DataPhase": "DRAGONFLIGHT",
    "DataPatch": [ 10, 3, 0, 55261 ],
    "PreProcessorTags": [
        "ANYCLASSIC",
		"DRAGONFLIGHT",
		"CRIEVE",
		"IGNORE_ERRORS",
		"EXPLORATION",
		"OBJECTIVES",
		"NOSIMPLIFY",
		"INCLUDE_QUALITY",
		"NAXX_10MAN_DROPS_25MAN_LOOT",
		"COMMON_QUALITY_TRANSMOGS",
    ],
}