{
    "wago-directories": [
		"../.wago/11 - The War Within",
	],
	"json-directories": [ ],
    "db-relative": "TWW/",
    "DataPhase": "TWW",
    "DataPatch": [ 11, 3, 0, 55261 ],
    "PreProcessorTags": [
        "ANYCLASSIC",
		"TWW",
		"CRIEVE",
		"IGNORE_ERRORS",
		"EXPLORATION",
		"OBJECTIVES",
		"NOSIMPLIFY",
		"INCLUDE_QUALITY",
		"NAXX_10MAN_DROPS_25MAN_LOOT",
		"COMMON_QUALITY_TRANSMOGS",
    ],
}