{
    "DebugDB": [
        "achID",
        "factionID",
        "flightPathID",
        "followerID",
        "illusionID",
        "mountID",
        "speciesID",
        "questID",
        "recipeID",
        "titleID",
        "toyID",
        "sourceID",
        "itemID",
    ],
    "TrackUseCounts": [
        "questID",
        "sourceID"
    ],
}