{
    "wago-directories": [
		"../.wago/01 - Classic",
		"../.wago/03 - Wrath of the Lich King/Localized",
	],
	"json-directories": [ ],
    "db-relative": "Forever/",
    "DataPhase": "FOREVER",
    "DataPatch": [ 1, 60, 0, 69722 ],
    "PreProcessorTags": [
        "ANYCLASSIC",
		"FOREVER",
		"CRIEVE",
		"EXPLORATION",
		"IGNORE_ERRORS",
		"OBJECTIVES",
		"NOSIMPLIFY",
		"INCLUDE_QUALITY",
		"EXPORT_ACHIEVEMENTDB",
    ],
}
