{
    "root-addon": "../..",
    "root-data": "./DATAS",
    "TRACK_itemID": 0,
    "db-relative": "Standard/",
	"json-directories": [
		"./DATAS",
	],
    "wago-directories": [
		"../.wago/12 - Midnight"
	],
    "IgnoreWowheadRetrieval": true,
    "DataPhase": "MID",
    "DataPatch": [
        12,
        1,
        0,
        69814
    ],
    "TrackUseCounts": [
        "questID"
    ],
    "HierarchicalConsolidationFields": [
        "sourceIgnored", "sharedDescription", "awp"
    ],
    "HierarchicalForceConsolidationFields": [
    ],
    "HierarchicalPropagationFields": [
        "pvp", "pb", "sr"
    ],
    "HierarchicalAnyPropagationFields": [
        "_u"
    ],
    "HierarchicalNonRepeatFields": [
        "rwp", "awp"
    ],
    "HierarchicalMinimumFields": [
    ],
    "HierarchicalMaximumFields": [
    ],
    "InheritingFields":[
        "timeline","requireSkill"
    ],
    "PreProcessorTags": [
        "RETAIL",
		"EXPLORATION",
		"COMMON_QUALITY_TRANSMOGS"
    ],
    "AutoLocalizeTypes": [
        "questID",
        "itemID",
        "sourceID"
    ],
    "Validation": {
        "clean": true,
        "field": {
            "c": {
                "global.match": "ALL_CLASSES"
            },
            "races": {
                "global.match": "ALL_RACES"
            },
            "collectible": {
                "match": [
                    false
                ]
            },
            "crs": {
                "bounds": [
                    1,
                    999999
                ]
            },
            "r": {
                "bounds": [
                    1,
                    2
                ]
            },
            "u": {
                "global.match": "VALID_PHASES"
            },
            "f": {
                "bounds": [
                    1,
                    999
                ]
            },
            "learnedAt": {
                "bounds": [
                    2,
                    999
                ]
            },
            "modID": {
                "bounds": [
                    0,
                    999
                ]
            },
            "bonusID": {
                "bounds": [
                    0,
                    99999
                ]
            },
            "currencyID": {
                "bounds": [
                    0,
                    6000
                ]
            },
            "questID": {
                "bounds": [
                    1,
                    99999
                ]
            },
            "sourceID": {
                "bounds": [
                    1,
                    999999
                ]
            },
            "mountID": {
                "bounds": [
                    1,
                    9999999
                ]
            },
            "skillID": {
                "bounds": [
                    1,
                    99999
                ]
            },
            "spellID": {
                "bounds": [
                    1,
                    9999999
                ]
            },
            "recipeID": {
                "bounds": [
                    1,
                    9999999
                ]
            },
            "itemID": {
                "bounds": [
                    1,
                    999999
                ]
            },
            "npcID": {
                "bounds": [
                    1,
                    999999
                ]
            }
        }
    },
    "ObjectTypes": [
        {
            "function": "CreateVignette",
            "objectType": "vignetteID",
            "shortcut": "v",
            "convertedKey": "questID",
            "ignoredFields": [
                "f"
            ]
        },
        {
            "function": "CreateWarbandScene",
            "objectType": "campsiteID",
            "shortcut": "campsite",
            "convertedKey": "campsiteID",
            "ignoredFields": [
                "f"
            ]
        },
        {
            "function": "CreateFirstCraft",
            "objectType": "firstcraftID",
            "shortcut": "fc",
            "convertedKey": "firstcraftID",
            "ignoredFields": [
                "f"
            ]
        },
        {
            "function": "CreateProfessionNode",
            "objectType": "professionnodeID",
            "shortcut": "pn",
            "convertedKey": "professionnodeID",
            "ignoredFields": [
                "f"
            ]
        },
        {
            "function": "CreateMountMod",
            "objectType": "mmID",
            "shortcut": "mm",
            "convertedKey": "itemID",
            "ignoredFields": [
                "f",
                "modID",
                "bonusID",
                "spellID"
            ]
        },
        {
            "function": "CreateToy",
            "objectType": "toyID",
            "shortcut": "toy",
            "convertedKey": "itemID",
            "ignoredFields": [
                "f",
                "spellID",
                "bonusID",
                "modID"
            ]
        },
        {
            "function": "CreateNPC",
            "shortcut": "n",
            "objectType": "eventHeader",
            "convertedKey": "_eventHeaderID",
            "ignoredFields": [
                "f",
                "spellID",
                "modID",
                "bonusID",
                "creatureID",
                "npcID"
            ]
        },
        {
            "function": "CreateCharacterUnlockQuest",
            "shortcut": "cq",
            "objectType": "characterUnlockQuestID",
            "convertedKey": "questID",
            "ignoredFields": [
                "f",
                "modID",
                "bonusID",
                "creatureID",
                "npcID"
            ]
        },
        {
            "function": "CreateCharacterUnlockSpell",
            "shortcut": "cs",
            "objectType": "characterUnlockSpellID",
            "convertedKey": "spellID",
            "ignoredFields": [
                "f",
                "modID",
                "bonusID",
                "creatureID",
                "npcID"
            ]
        },
        {
            "function": "CreateEnsemble",
            "shortcut": "en",
            "objectType": "ensembleID",
            "convertedKey": "itemID",
            "ignoredFields": [
                "f",
                "bonusID",
                "modID",
                "creatureID",
                "npcID",
                "extraTransmogSetItems",
                "extraTransmogSetSpells"
            ]
        },
        {
            "function": "CreateEnsembleSpell",
            "shortcut": "ens",
            "objectType": "ensembleSpellID",
            "convertedKey": "spellID",
            "ignoredFields": [
                "f",
                "bonusID",
                "modID",
                "creatureID",
                "npcID",
                "extraTransmogSetItems",
                "extraTransmogSetSpells"
            ]
        },
        {
            "function": "CreateDecor",
            "shortcut": "de",
            "objectType": "decorID",
            "convertedKey": "decorID",
            "ignoredFields": [
                "f",
                "bonusID",
                "modID"
            ]
        },
        {
            "function": "CreateHQT",
            "shortcut": "hqt",
            "objectType": "hqt",
            "convertedKey": "questID",
            "ignoredFields": [
                "f",
                "bonusID",
                "modID",
                "lvl"
            ]
        }
    ]
}
