{
    "root-addon": "../..",
    "root-data": "../.classic/.db",
    "db-relative": "Cata/",
    "DataPhase": "CATA",
    "DataPatch": [ 4, 4, 5, 55261 ],
    "PreProcessorTags": [
        "ANYCLASSIC",
		"CATA",
		"CRIEVE",
		"IGNORE_ERRORS",
		"EXPLORATION",
		"OBJECTIVES",
		"NOSIMPLIFY",
		"INCLUDE_QUALITY",
    ],
    "AutoLocalizeTypes": [
    ],
    "HierarchicalNonRepeatFields": [
        "awp"
    ],
    "Validation": {
        "clean": true,
        "field": {
            "c": {
                "global.match": "ALL_CLASSES"
            },
            "races": {
                "global.match": "ALL_RACES"
            },
            "r": {
                "bounds": [
                    1,
                    2
                ]
            },
            "modID": {
                "bounds": [
                    0,
                    99
                ]
            },
            "bonusID": {
                "bounds": [
                    0,
                    9999
                ]
            },
            "spellID": {
                "bounds": [
                    1,
                    999999
                ]
            },
            "recipeID": {
                "bounds": [
                    1,
                    999999
                ]
            },
            "itemIDZZZ": {
                "bounds": [
                    1,
                    999999
                ]
            },
        }
    },
    "ObjectTypes": [
        {
            "function": "CreateToy",
            "objectType": "toyID",
            "shortcut": "toy",
            "convertedKey": "itemID",
            "ignoredFields": [
                "f",
                "spellID",
                "modID"
            ]
        }
    ]
}