{
    "root-addon": "../..",
    "root-data": "../.classic/.db",
    "db-relative": "Classic/",
    "DataPhase": "CLASSIC",
    "PreProcessorTags": [
        "ANYCLASSIC",
		"CLASSIC",
		"CRIEVE",
		"IGNORE_ERRORS",
		"OBJECTIVES",
		"NOSIMPLIFY",
		"SEASON_OF_MASTERY",
		"SEASON_OF_DISCOVERY"
    ],
    "AutoLocalizeTypes": [
    ],
    "HierarchicalNonRepeatFields": [
        "awp"
    ],
    "ObjectTypes": [
        {
            "function": "CreateToy",
            "objectType": "toyID",
            "shortcut": "toy",
            "convertedKey": "itemID",
            "ignoredFields": [
                "f",
                "spellID",
                "modID"
            ]
        }
    ]
}