{
    "root-addon": "../..",
    "root-data": "../.classic/.db",
    "db-relative": "Cata/",
    "DataPhase": "CATA",
    "PreProcessorTags": [
        "ANYCLASSIC",
		"CATA",
		"CRIEVE",
		"IGNORE_ERRORS",
    ],
    "AutoLocalizeTypes": [
    ],
    "ObjectTypes": [
        {
            "function": "CreateToy",
            "objectType": "toyID",
            "shortcut": "toy",
            "convertedKey": "itemID",
            "ignoredFields": [
                "f",
                "spellID",
                "modID"
            ]
        }
    ]
}