{
    "root-data": ".",
    "root-addon": "../..",
    "db-relative": "",
    "CURRENT_RELEASE_PHASE_NAME": "DF",
    "LAST_EXPANSION_PATCH": [
        10,
        0,
        5,
        48069
    ],
    "TrackUseCounts": [
        "questID"
    ],
    "HeirarchicalConsolidationFields": [
        "sourceIgnored"
    ],
    "PreProcessorTags" : [
        "RETAIL"
    ]
}