{
    "root-addon": "../..",
    "root-data": "./DATAS",
    "db-relative": "Dragonflight/",
    "DataPhase": "DF",
    "DataPatch": [
        10,
        2,
        7,
        55261
    ],
    "TrackUseCounts": [
        "questID"
    ],
    "HierarchicalConsolidationFields": [
        "sourceIgnored"
    ],
    "HierarchicalPropagationFields": [
        "pvp", "pb"
    ],
    "HierarchicalNonRepeatFields": [
        "awp", "rwp"
    ],
    "PreProcessorTags": [
        "RETAIL",
		"EXPLORATION"
    ],
    "AutoLocalizeTypes": [
        "questID",
        "itemID",
        "sourceID"
    ],
    "Validation": {
        "clean": false,
        "field": {
            "c": {
                "global.match": "ALL_CLASSES"
            },
            "races": {
                "global.match": "ALL_RACES"
            },
            "r": {
                "bounds": [
                    1,
                    2
                ]
            },
            "modID": {
                "bounds": [
                    0,
                    999
                ]
            },
            "bonusID": {
                "bounds": [
                    0,
                    99999
                ]
            },
            "spellID": {
                "bounds": [
                    1,
                    999999
                ]
            },
            "recipeID": {
                "bounds": [
                    1,
                    999999
                ]
            },
            "itemIDZZZ": {
                "bounds": [
                    1,
                    999999
                ]
            },
        }
    },
    "ObjectTypes": [
        {
            "function": "CreateMusicRoll",
            "objectType": "musicRollID",
            "shortcut": "mr",
            "convertedKey": "questID",
            "ignoredFields": [
                "f",
                "spellID"
            ]
        },
        {
            "function": "CreateVignette",
            "objectType": "vignetteID",
            "shortcut": "v",
            "convertedKey": "questID",
            "ignoredFields": [
                "f"
            ]
        },
        {
            "function": "CreateDrakewatcherManuscript",
            "objectType": "dmID",
            "shortcut": "dm",
            "convertedKey": "itemID",
            "ignoredFields": [
                "f",
                "spellID"
            ]
        },
        {
            "function": "CreateToy",
            "objectType": "toyID",
            "shortcut": "toy",
            "convertedKey": "itemID",
            "ignoredFields": [
                "f",
                "spellID",
                "modID"
            ]
        },
        {
            "function": "CreateNPC",
            "shortcut": "n",
            "objectType": "eventHeader",
            "convertedKey": "_eventHeaderID",
            "ignoredFields": [
                "f",
                "spellID",
                "modID",
                "creatureID",
                "npcID"
            ]
        },
        {
            "function": "CreateCharacterUnlockQuest",
            "shortcut": "cq",
            "objectType": "characterUnlockQuestID",
            "convertedKey": "questID",
            "ignoredFields": [
                "f",
                "bonusID",
                "modID",
                "creatureID",
                "npcID"
            ]
        },
        {
            "function": "CreateCharacterUnlockSpell",
            "shortcut": "cs",
            "objectType": "characterUnlockSpellID",
            "convertedKey": "spellID",
            "ignoredFields": [
                "f",
                "bonusID",
                "modID",
                "creatureID",
                "npcID"
            ]
        },
        {
            "function": "CreateEnsemble",
            "shortcut": "en",
            "objectType": "ensembleID",
            "convertedKey": "itemID",
            "ignoredFields": [
                "f",
                "bonusID",
                "modID",
                "creatureID",
                "npcID"
            ]
        }
    ]
}
