{
    "root-data": ".",
    "root-addon": "../..",
    "db-relative": "",
    "DataPhase": "DF",
    "DataPatch": [
        10,
        0,
        7,
        48676
    ],
    "TrackUseCounts": [
        "questID"
    ],
    "HeirarchicalConsolidationFields": [
        "sourceIgnored"
    ],
    "PreProcessorTags": [
        "RETAIL"
    ],
    "AutoLocalizeTypes": [
        "questID",
        "itemID"
    ],
    "ObjectTypes": [
        {
            "function": "CreateMusicRoll",
            "objectType": "musicRollID",
            "shortcut": "mr",
            "convertedKey": "questID",
            "ignoredFields": [
                "f",
                "spellID"
            ]
        },
        {
            "function": "CreateVignette",
            "objectType": "vignetteID",
            "shortcut": "v",
            "convertedKey": "questID",
            "ignoredFields": [
                "f"
            ]
        },
        {
            "function": "CreateDrakewatcherManuscript",
            "objectType": "dmID",
            "shortcut": "dm",
            "convertedKey": "itemID",
            "ignoredFields": [
                "f",
                "spellID"
            ]
        }
    ]
}